@CHARSET "ISO-8859-1";
#upload {

	border: 1px solid #ccc;
	max-width: 300px;
	min-height: 100px;
}

/*
	cancel upload button
*/
.cancel-upload {

	background:#ccc;
	border: 1px solid #999999;
	color: #000000;
	display: inline-block;
	margin: 5px 5px 0 3px;
	padding: 2px 5px;
}
.cancel-upload:hover {

	background: #aaa;
	color: #fff;
}

/*
	browse button style: currently supported only by Firexox 4+
*/

.browse-upload {

	background:#ccc;
	border: 1px solid #999999;
	color: #000000;
	display: inline-block;
	margin: 5px 5px 0 0;
	padding: 2px 5px;
}
.browse-upload:hover {

	background: #aaa;
	color: #fff;
}
